<h2>Posts</h2>
 <ul>
  <a routerLink="/home">
    1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 02/
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ligula risus, ornare eget sapien id, luctus placerat massa. Maecenas mollis leo nec nisi lobortis pellentesque. Fusce sit amet orci augue. Nunc sodales cursus malesuada. Suspendisse sed felis ut dui hendrerit tristique sed non libero. Cras ac ipsum dapibus, pretium nunc vitae, pulvinar metus.
  </a> 
 </ul>

 <ul>
  <a routerLink="/home">
    2. Cras erat purus, ullamcorper vel porttitor eu, efficitur lobortis lacus. Aenean molestie pellentesque tincidunt. In a pretium nisl. Sed dignissim libero sed varius porta. Aliquam viverra dui sit amet blandit pellentesque. Mauris maximus molestie mi, pellentesque scelerisque elit euismod at. Morbi bibendum enim in urna sagittis convallis. Vivamus dignissim varius congue.
 </a>
</ul>

<ul>
  <a routerLink="/home">
    3. Vestibulum luctus posuere pellentesque. Quisque eget nisl ut elit pellentesque sodales pellentesque in nibh. Nulla tempus dui sit amet hendrerit tincidunt. Etiam accumsan at augue nec rutrum. Praesent consequat sed velit vitae lobortis. Duis tincidunt leo augue, a mollis justo sodales vitae. Quisque in magna ut nulla finibus ultrices id a diam. 
 </a>
</ul>
